body {
    background-image: url('./coverfinal.jpg'); 
    background-size: cover; 
}
p{
    color:black;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
}
h1{
    color:black;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
}